<div id="nav">
<a href="/"><button>Transfers</button></a>
<a href="/add-item"><button>Add item</button></a>
<a href="/items"><button>Items</button></a>
<a href="/add-purchase"><button>Add purchase</button></a>
<a href="/purchases"><button>Purchases</button></a>
<a href="/tags"><button>Tags</button></a>
<a href="/partners"><button>Partners</button></a>
<a href="/tracking"><button>Tracking</button></a>
</div>

<style>
    #nav {
        /* background-color: lightblue; */
        margin: 0;
        margin-bottom: 0.5em;
    } 
    #nav button {
        padding: 0.5em;
        background-color: lightcoral;
        border: 0;
        margin: 0;
    }
    body {
        margin: 0
    }
</style>
